<%= form_with model: [ @article, @article.comments.build ] do |form| %>

    <p>
        <%= form.label :commenter %><br>
        <%= form.text_field :commenter, class: "form-control w-auto"%>
    </p>

    <p>
        <%= form.label :body %><br>
        <%= form.text_area :body, class: "form-control w-auto"%>
    </p>

    <p>
        <%= form.label :status %><br>
        <%= form.select :status, Visible::VALID_STATUSES, { selected: 'public' }, { class: "form-select w-auto" }  %>
    </p>


    <div class="btn btn-primary">
        <%= form.submit %>
    </div>
<% end %>