<h1 class="mb-2"> <%= @article.title %> </h1>
<p class="text-center container"><strong>Author:</strong> <%= @user_name %>

    <% if @article.image.present? %>
<div class="my-5 text-center article-image-container">
    <div class="object-fit-contain mx-auto d-inline-block position-relative">
        <%= cl_image_tag(@article.image, id: "article-image", class: "v-100 h-100 rounded-4 shadow", alt: @article.title) %>

        <button id="download-image-btn" class="download-btn position-absolute bottom-0 end-0 btn btn-primary me-2 mb-2"><i class="bi bi-box-arrow-down"></i></button>
    </div>
</div>
<% end %>

<div class="mx-auto article-body container">
    <p class="mb-3"> <%= @article.body %> </p>
    <p>
        <strong>Tags:</strong>
        <%= @article.tags.map { |t| link_to t.name, tag_path(t.name), class:'link-underline-primary' }.join(", ").html_safe %>
    </p>
    <hr>
    <br>
    <% if current_user%>
    <div class="d-flex gap-4 mb-5 ps-0">
        <div class="me-auto">
            <% if current_user && @article.liked_by_users.include?(current_user) %>
            <%= button_to 'Unlike', article_likes_path(@article), method: :delete, class: "btn btn-warning", id: "like-button",  data: { prevent_scroll: true, controller: "form" }%>
            <% else %>
            <%= button_to 'Like', article_likes_path(@article), class: "btn btn-success", id: "like-button",  data: { prevent_scroll: true, controller: "form"  }%>
            <% end %>
            <p id="like-count" class="mt-2"><%= @article.likes.count %> Likes</p>
        </div>
        <% if current_user && current_user.id == @article.user_id %>
        <div><%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary"%></div>
        <div><%= button_to "Destroy", 
                article_path(@article), 
                method: :delete, 
                data: {confirm: "Are you sure?"},
                class: "btn btn-danger" 
            %></div>
        <% end %>
    </div>
    <% end %>

    <div class="mx-auto">
        <h2 class="mb-4">Comments</h2>
        <% if @article.comments.any? %>
        <%= render @article.comments %>
        <% else %>
        <p class="ms-1">No comments yet.</p>
        <% end %>

        <% if current_user %>
        <div class="rounded p-4 bg-light w-auto mw-50">
            <h3 class="mb-4">Add a comment:</h3>
            <%= render 'comments/form' %>
        </div>
        <% end %>
    </div>
</div>