<h1> <%= @article.title %> </h1>
<p>Author: <%= @user_name %>

<p> <%= @article.body %> </p>

<ul class="d-flex gap-4 mb-5 mt-5 ps-0">
    <li><%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary"%></li>
    <li><%= link_to "Destroy", 
        article_path(@article), 
        method: :delete, 
        data: {confirm: "Are you sure?"},
        class: "btn btn-danger" 
    %></li>
</ul>

<div>
    <h2>Comments</h2>
    <%= render @article.comments %>
</div>

<div class="rounded p-4 bg-light w-auto mw-50">

    <h3 class="mb-4">Add a comment:</h3>
    <%= render 'comments/form' %>

</div>