<h1 class="mb-5">Profile</h1>

<div class="container" data-controller="user">

    <div class="user-profile-container" id="user-profile-container">
        <% if @user.avatar? %>
        <div class="mb-2 h-100 image">
            <%= cl_image_tag(@user.avatar, width: 100) %>
        </div>
        <% end %>

        <p><strong>Username:</strong> <%= @user.user_name %></p>
        <p><strong>Email:</strong> <%= @user.email %></p>

        <% if current_user && current_user.id == @user.id %>
        <button class="btn btn-primary edit-user-profile-btn">Edit Profile</button>
        <% end %>
    </div>

    <% if current_user && current_user.id == @user.id %>
    <%= form_for @user, url: user_path(@user), html: { multipart: true,  id: "user-profile-form", style: "display: none" } do |f| %>

    <div class="form-grou mb-4">
        <%= f.label :user_name, "Username" %>
        <%= f.text_field :user_name, class: "form-control" %>
    </div>

    <div class="form-group mb-4">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group mb-4">
        <%= f.label :avatar, "Avatar Image" %>
        <%= f.file_field :avatar, class: "form-control" %>
    </div>

    <div class="d-flex gap-2">
        <%= f.submit "Save Changes", class: "btn btn-success" %>
        <button type="button" class="btn btn-primary edit-user-profile-btn">Return</button>
    </div>
    <% end %>
    <% end %>
</div>