<h1 class="mb-5">Update Password </h1>

<%= form_with model: current_user, url: password_path, html: { class: "form container" } do |form| %>

<% if form.object.errors.any? %>
<div class="mx-auto alert alert-danger">
    <% form.object.errors.full_messages.each do |message| %>
    <div><%= message %></div>
    <% end %>
</div>
<% end %>

<div class="mb-3">
    <%= form.label :password_challenge, "Current Password" %>
    <%= form.password_field :password_challenge, class: "form-control", placeholder: "string password please"%>
</div>

<div class="mb-3">
    <%= form.label :password, "New Password" %>
    <%= form.password_field :password, class: "form-control", placeholder: "string password please"%>
</div>

<div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "string password please"%>
</div>

<div class="mb-3">
    <%= form.submit "Upate password", class: "btn btn-primary" %>
</div>

<% end %>