<!DOCTYPE html>
<html>

<head>
    <title>RorBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>


</head>

<body>

    <%= render "layouts/nav" %>

    <main class="mx-auto py-5 px-3 md:px-5 ">
        <% if notice %>
        <div class="alert alert-success d-inline-block" role="alert"><%= notice %></div>
        <% end %>
        <% if alert %>
        <div class="alert alert-danger d-inline-block" role="alert"><%= alert %></div>
        <% end %>
        <%= yield %>
    </main>
</body>

</html>